In [10]:
#Fibbanoic Series
a=int(input("Enter a positive number"))
x=0
y=1
count=0
if(a>0):
    if(a==1):
        print(a)
    else:
        while count<a:
            if(count+1==a):
                print(x)
            else:
                print(x,end=",")
            z=x+y
            x=y
            y=z
            count+=1

Enter a positive number10
0,1,1,2,3,5,8,13,21,34

In [4]:
#Factorial number
a=int(input("Enter a number:"))
i=1
fact=1
while i<=a:
    fact=fact*i
    i+=1
print("Factorial of ",a," is ",fact)

Enter a number:8
Factorial of  8  is  40320

In [12]:
#reverse array
a=[1,2,3]
b=a[::-1]
list(b)

[3, 2, 1]

In [2]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
for i in range(2000,3201):
    if (i%7==0) & (i%5!=0):
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [1]:
#Simple Calculator
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    if(b!=0):
        return a/b
    else:
        return 0
Operation = input("Press 1 to add,2 to subtract,3 to multiply and 4 to divide")
a=int(input("Enter first value"))
b=int(input("Enter second value"))
if(Operation == '1'):
    print("Ans is ",add(a,b))
elif(Operation == '2'):
    print("Ans is ",sub(a,b))
elif(Operation == '3'):
    print("Ans is ",mul(a,b))
elif(Operation == '4'):
    print("Ans is ",div(a,b))

Press 1 to add,2 to subtract,3 to multiply and 4 to divide2
Enter first value5
Enter second value2
Ans is  3

In [8]:
#Factorial number (alternate)
def fact(x):
    if(x==0):
        return 1
    else:
        return x*fact(x-1)
x=int(input("Enter a number"))
print("Factorial of ",x," is ",fact(x))

Enter a number9
Factorial of  9  is  362880

In [3]:
#Find square root
x=float(input("Enter number"))
a=x**0.5
print("Square root of ",x," is ",a)

Enter number9
Square root of  9.0  is  3.0

In [7]:
#With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
#Suppose the following input is supplied to the program:

x=int(input("Enter number"))
a=dict()
for i in range(1,x+1):
    a[i]=i*i
print(a)

Enter number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [1]:
#Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program:
#34,67,55,33,12,98
#Then, the output should be:
#['34', '67', '55', '33', '12', '98']
#('34', '67', '55', '33', '12', '98')
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.tuple() method can convert list to tuple

a=input("Enter a number comma separator")
x=a.split(",")
y=tuple(x)
print(x)
print(y)

Enter a number comma separator1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

In [3]:
#Define a class which has at least two methods: getString: to get a string from console input
#printString: to print the string in upper case.

class inputout:
    def __init__(self):
        self.s=""
    def getValue(self):
        self.s=input("Enter value")
    def printValue(self):
        print(self.s.upper())
Obj = inputout()
Obj.getValue()
Obj.printValue()

Enter valuesrini
SRINI

In [14]:
#Write a program that calculates and prints the value according to the given formula:
#Q = Square root of [(2 * C * D)/H]
#Following are the fixed values of C and H:
#C is 50. H is 30.
#D is the variable whose values should be input to your program in a comma-separated sequence.
#Example : Let us assume the following comma separated input sequence is given to the program:100,150,180
#The output of the program should be:18,22,24

c=50
H=30
inp=input("Enter comma separated value")
array=inp.split(',')
for d in array:
    print(int(round((2*c*int(d)/H)**0.5)),end=",")

Enter comma separated value100,150,180
18,22,24,

In [3]:
#Find area of triangle using three side
#Let a,b,c be the lengths of the sides of a triangle. The area is given by: 
#Area=√p(p−a)(p−b)(p−c)
#where p is half the perimeter, or  a+b+c/2

a=int(input("Enter side a"))
b=int(input("Enter side b"))
c=int(input("Enter side c"))
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print(area)

Enter side a5
Enter side b6
Enter side c7
14.696938456699069

In [6]:
# Python program to check if the input year is a leap year or not
year = 9000
if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

9000 is not a leap year

In [1]:
row=5
col=3
myList = [[0 for x in range(row)] for y in range(col)] 
for i in row:
    for j in row:
        myList[i,j]=i*j

TypeError: 'int' object is not iterable

In [31]:
#Question:Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
#Note: i=0,1.., X-1; j=0,1,¡­Y-1.
#Example:Suppose the following inputs are given to the program3,5
#Then, the output of the program should be:[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]] 
w, h = 5, 3;
Matrix = [[0 for x in range(w)] for y in range(h)] 
for i in range(w):
    for j in range(h):
            Matrix[j][i]=i*j
Matrix

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [7]:
# Python program to check if the number provided by the user is an Armstrong number or not
# take input from the user
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 166
166
16
1
166 is not an Armstrong number

In [10]:
#Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
#Suppose the following input is supplied to the program:without,hello,bag,world
#Then, the output should be:bag,hello,without,world
inp=input("Enter comma seperated string")
a=inp.split(',')
a.sort()
for i in a:
    print(i,end=",")

Enter comma seperated stringwithout,hello,bag,world
bag,hello,without,world,

In [1]:
#Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
#Suppose the following input is supplied to the program:hello world and practice makes perfect and hello world again
#Then, the output should be:again and hello makes perfect practice world

inp=input("Enter a sentence with white space")
a=inp.split(" ")
b=(set(a))
c=list(b)
c.sort()
for i in c:
    print(i,end=" ")

Enter a sentence with white spacehello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [3]:
# Program to add two matrices using nested loop
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]
result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
    for j in range(len(X[i])):
        result[i][j] = X[i][j] + Y[i][j]
for r in result:
    print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [6]:
#Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
#Example:0100,0011,1010,1001
#Then the output should be:1010
value = []
x=input("Enter comma separated 4 digit binary number")
items=x.split(',')
for i in items:
    out=int(i,2)
    if(out%5==0):
        print(i,end=",")

Enter comma separated 4 digit binary number0100,0011,1010,1001,0100,0011,1010,1001
1010,1010,

In [1]:
input=input("Enter a sentence:")
a=input.split(",")
a.sort()
list(set(a))

Enter a sentence:xchjx,xnzjk,cjkhckj

['xchjx', 'xnzjk', 'cjkhckj']

In [14]:
# Program to transpose a matrix using nested loop
a=[[1,2],[3,4],[5,6]]
result=[[i for i in range(len(a))]for j in range(len(a[0]))]
for i in range(len(a)):
    for j in range(len(a[i])):
        result[j][i]=a[i][j]
result

[[1, 3, 5], [2, 4, 6]]

In [1]:
#Question:Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
#The numbers obtained should be printed in a comma-separated sequence on a single line.
inp=input("Enter the range")
a=inp.split(",")
for i in range(int(a[0]),int(a[1])):
    string=str(i)
    length=len(string)
    x=0
    count=1
    while(x<length):
        if(int(string[x])%2==0):
            count+=1
        x+=1
    if(count==length):
        print(string)

Enter the range1010,120

In [5]:
# Python program to mail merger. Names are in the file names.txt. Body of the mail is in body.txt
# open names.txt for reading
with open("nameList.txt",'r',encoding = 'utf-8') as names_file:
    # open body.txt for reading
    with open("body.txt",'r',encoding = 'utf-8') as body_file:
        # read entire content of the body
        body = body_file.read()
        # iterate over names
        for name in names_file:
            mail = body+" "+name
            # write the mails to individual files
            with open(name.strip()+".txt",'w',encoding = 'utf-8') as mail_file:
                mail_file.write(mail)

In [22]:
#Write a program that accepts a sentence and calculate the number of letters and digits.
#Suppose the following input is supplied to the program:hello world! 123
#Then, the output should be:LETTERS 10 DIGITS 3
Letters=0
Digits=0
inp=input("Enter the sentence")
for i in inp:
    if i.isdigit():
        Digits+=1
    if i.isalpha():
        Letters+=1
print("LETTERS {} DIGITS {}".format(Letters,Digits))

Enter the sentencehello world! 123
LETTERS 10 DIGITS 3

In [2]:
#Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
#Suppose the following input is supplied to the program:Hello world!
#Then, the output should be:UPPER CASE 1 LOWER CASE 9
text="Hello world!"
upper=0
lower=0
for i in text:
    if i.isupper():
        upper += 1
    elif i.islower():
        lower += 1
print ("UPPER CASE {} LOWER CASE {}".format(upper,lower))

UPPER CASE 1 LOWER CASE 9

In [10]:
#Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
#Suppose the following input is supplied to the program:9
#Then, the output should be:11106
a=9
print(int("%s" %a)+int( "%s%s" % (a,a) )+int( "%s%s%s" % (a,a,a) )+int( "%s%s%s%s" % (a,a,a,a) ))

11106

In [13]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.930610
b    0.811080
c    2.184863
d   -0.825945
e    0.630109
dtype: float64

In [1]:
x=[1,2,3,4,5]
print(sum(x)

15

In [15]:
#A website requires the users to input username and password to register. Write a program to check the validity of password 
#input by users.
#Following are the criteria for checking the password:
#1. At least 1 letter between [a-z]
#2. At least 1 number between [0-9]
#3. At least 1 letter between [A-Z]
#4. At least 1 character from [$#@]
#5. Minimum length of transaction password: 6
#6. Maximum length of transaction password: 12
#Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. 
#Passwords that match the criteria are to be printed, each separated by a comma.
#ExampleIf the following passwords are given as input to the program:ABd1234@1,a F1#,2w3E*,2We3345
#Then, the output of the program should be:ABd1234@1
import re
inp=input("Enter a sequence of comma separated passwords")
[i for i in inp.split(",") if len(i) >= 6 and len(i) <= 12 and re.search("[a-z]",i) and re.search("[A-Z]",i) 
 and re.search("[0-9]",i) and re.search("[$#@]",i)]

Enter a sequence of comma separated passwordsABd1234@1,a F1#,2w3E*,2We3345

['ABd1234@1']

In [3]:
#HackerRank
ar_count = int(input())
ar = list(map(int, input().rstrip().split()))
ar

6
1 2 3 4 10 11

[1, 2, 3, 4, 10, 11]

In [10]:
#HackerRank
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the compareTriplets function below.
def compareTriplets(a, b):
    array=[0,0]
    for i,j in zip(a,b):
        if i>j:
            array[0] += 1
        elif j>i:
            array[1] +=1
    print(array[0],array[1])
def callFunction():
    a = list(map(int, input().rstrip().split()))
    b = list(map(int, input().rstrip().split()))
    result = compareTriplets(a, b)
callFunction()

5 6 7
3 6 10
1 1

In [18]:
array = [[1,2,3],[4,5,6],[9,8,9]]
length=len(array)
diagonal1,diagonal2=0,0
for i in range(length):
    diagonal1 += array[i][i]
    diagonal2 += array[i][length-1]
    length -= 1
print(diagonal1,diagonal2)

3
1 3
5 5
9 9
15 17

In [7]:
array=[-4,3,-9,0,4,1]
length=len(array)
positive,negative,zero=0,0,0
for i in array:
    if i>0:
        positive += 1
    elif i<0:
        negative += 1
    else:
        zero += 1
print(length,end="\n")
print(length,format(positive/length,'.6f'))

6
6 0.500000

In [5]:
print(float("{0:.6f}".format(6/12)))
print(format(0.5, '.5f'))

0.5
0.50000

In [31]:
n=4
for i in range(n):
    for j in range(n):
        if(j<n-(i+1)):
            print(" ",end="")
        else:
            print("#",end="")
    print("",end="\n")

   #
  ##
 ###
####

In [37]:
array=[7,69,2,221,8974]
array.sort()
#299 9271
minSum=0
maxSum=0
for i in range(len(array)-1):
    minSum += array[i]
for j in range(1,len(array)):
    maxSum += array[j]
print(minSum,maxSum)

299 9271

In [38]:
array=[3,2,1,3]
array.sort()
maxValue=max(array)
print(array.count(maxValue))

2

In [55]:
inputTime="12:05:45AM"
#inputTime="11:00:50AM"
newInput=inputTime.replace("PM","").replace("AM","").split(":")
if "PM" in inputTime and int(newInput[0])<12:
    print(str(int(newInput[0])+12)+":"+str(newInput[1])+":"+str(newInput[2]))
else:
    if "AM" in inputTime and int(newInput[0])==12:
        print("00"+":"+str(newInput[1])+":"+str(newInput[2]))
    else:
        print(inputTime.replace("AM","").replace("PM",""))

00:05:45

In [74]:
array=['because', 'can', 'do', 'must', 'we', 'what']
passw="wedowhatwemustbecausewecan"
tes=passw
for i in array:
    passw=passw.replace(i,"")
    tes = tes.replace(i,i+" ")
if(len(passw)==0):
    print(tes.rstrip())
else:
    print("djkd")

we do what we must because we can

In [18]:
a=[73,67,38,33]
for i in a:
    if i < 38:
        print(i)
    else:
        mod=i%5
        if(mod>0 and mod>=3):
            i=i+(5-mod)
            print(i)
        else:
            print(i)

75
67
40
33

In [21]:
a=[7,11]
b=[5,15]
c=[-2,2,1]
d=[5,-6]
startPoint,endpoint=a[0],a[1]
apple,orange=b[0],b[1]
appleArray,orangeArray=[],[]
appleCount,orangeCount=0,0
for i in c:
    appleArray.append(i+apple)
for j in d:
    orangeArray.append(j+orange)
for k in appleArray:
    if k>=a[0] and k<=a[1]:
        appleCount += 1
for l in orangeArray:
    if l>=a[0] and l<=a[1]:
        orangeCount += 1
print(appleCount)
print(orangeCount)

1
1

In [29]:
x1,v1,x2,v2=0,3,4,2
count=0
for i in range(1,10000):
    if((x1+(v1*i)) == (x2+(v2*i))):
        count=1
        break
print("Yes" if count>0 else "f")

Yes

In [8]:
a=[1]
b=[100]
a.sort()
b.sort()
aLength=len(a)
bLength=len(b)
aArray=[]
bArray=[]
for i in range(1,b[bLength-1]+1):
    aCount=0
    for k in range(aLength):
        if(i%a[k]==0):
            aCount += 1
    if aCount == aLength:
        aArray.append(i)
for j in range(1,b[bLength-1]+1):
    bCount=0
    for k in range(bLength):
        if(b[k]%j==0):
            bCount += 1
    if bCount == bLength:
        bArray.append(j)
print(aArray)
print(bArray)
print(len(set(aArray).intersection(set(bArray))))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 4, 5, 10, 20, 25, 50, 100]
9

In [11]:
array=[10,5,20,20,4,5,2,25,1]
minValue,minCount,maxValue,maxCount=array[0],0,array[0],0
for i in array:
    if i<minValue:
        minValue = i
        minCount += 1
    if i>maxValue:
        maxValue = i
        maxCount += 1
print(maxCount,minCount)

4 2

In [21]:
array=[1,1,1,1,1,1]
date=3
month=2
count=0
for i in range(len(array)):
    value=0
    for j in array[i:i+month]:
        value += j
    if(value == date):
        count += 1
print(count)

0

In [26]:
length,k=6,3
count=0
array=[1,3,2,6,1,2]
index=0
for i in array:
    for j in array[index+1:length]:
        if((i+j)%k==0):
            count += 1
    index += 1
print(count)

5

In [30]:
array=[1,1,2,2,3]
id=0
count=0
newArray = list(set(array))
for i in newArray:
    if array.count(i)>count:
        count = array.count(i)
        id=i
    elif array.count(i)==count:
        if(id>i):
            id=i
print(id)

1

In [35]:
year = 1918
if(year%4==0):
    if(year%100==0):
        if(year%400==0):
            print("12.09."+str(year))
        else:
            print("13.09."+str(year))
    else:
        print("12.09."+str(year))
else:
    print ("13.09."+str(year))

13.09.1918

In [3]:
n=4
k=1
billarray=[3,10,2,9]
annabill=7
calculateamount=0
for i in range(n):
    if(i != k):
        calculateamount += billarray[i]
shareAmount=int(calculateamount/2)
if(shareAmount == annabill):
    print("")
else:
    print(annabill-shareAmount)

In [7]:
n=9
array=[10,20,20,10,10,30,50,10,20]
distinctArray=list(set(array))
countArray=list()
paircount=0
for i in distinctArray:
    countArray.append(array.count(i))
print(distinctArray)
print(countArray)
for j in countArray:
    paircount +=(int(j/2))
    
print(paircount)

[10, 20, 50, 30]
[4, 3, 1, 1]
3

In [24]:
totalPage=5
turnPage=5
if(turnPage <= int(totalPage/2)):
    print(int(turnPage/2))
else:
    sub=0
    if(totalPage%2==0 or totalPage == turnPage):
        sub=totalPage-turnPage
    else:
        sub=totalPage-turnPage-1
    print(int(sub%2)+int(sub/2))

0

In [4]:
array1=[5,1,1]
keyboard=[4]
USB=[5]
maxValue=0
for i in keyboard:
    for j in USB:
        if maxValue < i+j and i+j<array1[0]:
            maxValue = i+j
if(maxValue > 0):
    print(maxValue)
else:
    print(-1)

-1

In [5]:
#1 2 3
#1 3 2
x,y,z=1,2,3
catA=abs(x-z)
catB=abs(y-z)
if catA>catB:
    print ("CATA")
elif catB>catA:
    print ("CATB")
else:
    print("MOUSE C")

CATA

In [15]:
a=[[4,5,8],[2,4,1],[1,9,7]]
n=3
singleArray=[]
for i in range(n):
    singleArray.extend(a[i])
singleArray.sort()
print(singleArray)
lastValue=0
value=0
for j in singleArray:
    if lastValue ==0 and lastValue < j:
        lastValue = j
    elif lastValue+1 == j:
        lastValue = j
    else:
        value += abs(j-(lastValue+1))
        lastValue = lastValue+1
print(value)

[1, 1, 2, 4, 4, 5, 7, 8, 9]
4

In [1]:
import sys
diffs = []
s = []
for s_i in range(3):
    s_t = [int(s_temp) for s_temp in input().strip().split(' ')]
    s.append(s_t)

all_possible = [
            [[8, 1, 6], [3, 5, 7], [4, 9, 2]],
            [[6, 1, 8], [7, 5, 3], [2, 9, 4]],
            [[4, 9, 2], [3, 5, 7], [8, 1, 6]],
            [[2, 9, 4], [7, 5, 3], [6, 1, 8]], 
            [[8, 3, 4], [1, 5, 9], [6, 7, 2]],
            [[4, 3, 8], [9, 5, 1], [2, 7, 6]], 
            [[6, 7, 2], [1, 5, 9], [8, 3, 4]], 
            [[2, 7, 6], [9, 5, 1], [4, 3, 8]],]

#compare s to each in all possible get number of differences for each to diffs
for possiblity in all_possible:
    cost = 0
    for p_row, s_row in list(zip(possiblity,s)):
        for p_num, s_num in (list(zip(p_row, s_row))):
            if p_num != s_num:
                cost += abs(p_num - s_num)
    diffs.append(cost)
print(min(diffs))

4 5 8
2 4 1
1 9 7
14

In [4]:
n=8
string="UDDDUDUU"
v,lvl=0,0
for i in string:
    if(i=='U'):
        lvl+=1
    if(i=='D'):
        lvl-=1
    print(i,lvl)
    if(lvl==0 and i=='U'):
        v+=1
print(v)

U 1
D 0
D -1
D -2
U -1
D -2
U -1
U 0
1

In [20]:
array=[4,6,5,3,3,1]
#array=[1,2,2,3,1,2]
#array=[1,1,2,2,4,4,5,5,5]
array.sort()
value=0
ansArray=[]
print(array)
for i in range(len(array)-1):
    sub = abs(array[i]-array[i+1])
    if sub<=1 and value==0:
        print(sub)
        print("df",value)
        print(array[i])
        value = sub
        ansArray.append(array[i])
        if sub == 1:
            ansArray.append(array[i+1])
    elif array[i]==array[i+1]:
        ansArray.append(array[i])
print(len(ansArray))

[1, 3, 3, 4, 5, 6]
0
df 0
3
1
df 0
3
3

In [3]:
import pandas as pd
excel=pd.read_excel('MTM_Automation Test Cases1.xlsx')
print(excel)

          Test Case ID  # Steps  \
0      Test case 13559      1.0
1                  NaN      1.1
2                  NaN      1.2
3                  NaN      1.3
4                  NaN      1.4
5                  NaN      1.5
6                  NaN      1.6
7                  NaN      2.0
8                  NaN      2.1
9                  NaN      2.2
10                 NaN      3.0
11                 NaN      3.1
12                 NaN      3.2
13                 NaN      3.3
14                 NaN      4.0
15                 NaN      4.1
16                 NaN      4.2
17                 NaN      4.3
18                 NaN      4.4
19                 NaN      4.5
20                 NaN      5.0
21                 NaN      5.1
22                 NaN      5.2
23                 NaN      NaN
24                 NaN      5.3
25                 NaN      5.4
26                 NaN      NaN
27                 NaN      5.5
28                 NaN      5.6
29                 NaN      6.0
...                ...      ...
23555              NaN     14.1
23556              NaN     14.2
23557              NaN     15.0
23558              NaN     15.1
23559              NaN     15.2
23560              NaN     15.3
23561              NaN     16.0
23562              NaN      NaN
23563              NaN      NaN
23564              NaN      NaN
23565              NaN     17.0
23566              NaN      NaN
23567              NaN      NaN
23568              NaN     18.0
23569              NaN     19.0
23570              NaN     20.0
23571              NaN     21.0
23572              NaN     22.0
23573              NaN     23.0
23574              NaN     24.0
23575              NaN     24.1
23576              NaN     25.0
23577              NaN     26.0
23578              NaN     27.0
23579              NaN     27.1
23580              NaN     27.2
23581              NaN     28.0
23582              NaN     29.0
23583              NaN     29.1
23584              NaN     29.2

                                                  Action  \
0         Check user is able to login to the application
1                            Launch the Browser @Browser
2                                         Enter the @URL
3                                        Click Enter Key
4                                 Enter a valid @EmailID
5                                Enter a valid @Password
6                                        Click on Login
7                                             Open Rules
8                                Click on Administration
9                                        Click on Rules
10                 Check Merit tile in Rules is selected
11                      Click on Compensation Components
12                                     Enable Merit tile
13                                 Click on Save button
14             Check Promotion tile in Rules is selected
15                               Click on Administration
16                                       Click on Rules
17                 Click on the Compensation components
18                               Enable Adjustment tile
19                                 Click on save button
20                             Set Merit Proration to ON
21       Click on Set Performance Rating and Merit Rule
22                                      Enable proration
23                                                   NaN
24      Select @FromDate as Start date from Date Picker
25           Select @ToDate as End date from Date Picker
26                                                   NaN
27       Select @ProrationType from Prorate type toggle
28                                        Click on Save
29                           Set Rounding Rule for Merit
...                                                  ...
23555                            Click on 'Rewards' menu
23556       Click on 'Recommend Increase' from sub-menu
23557                   Select Manager from Manager tree
23558  Click on Manager tree sliding in Recommend Inc...
23559    Enter a manager name @ManagerName in search bar
23560                              Click on @ManagerName
23561                       Verify the Adjustment Pct
23562                                                NaN
23563                                                NaN
23564                                                NaN
23565                           Verify Adjustment Amt
23566                                                NaN
23567                                                NaN
23568                           Verify the New Salary
23569                       Verify the New Hourly Rate
23570                     Verify the New Compa-Ratio
23571                                  Verify the TCC
23572                    Click on Narrow down icon
23573                 Verify the Adjustment Spent
23574                              Navigate to Dashboard
23575                                     Click on Home
23576                   Verify Directs Adjustment Count
23577        Verify My Organization Adjustment count
23578                                   Open Budget Plan
23579                            Click on Administration
23580                               Click on Budget Plan
23581                          Verify Adjustment Spent
23582                               Logout from the tool
23583                               Click on Logout icon
23584                                                NaN

                                          Expected value
0                                                    NaN
1                Verify that browser home page is opened
2           Verify that URL is displayed in address bar
3                  Verify that Login screen is displayed
4              Verify that entered @EmailID is displayed
5      Verify that asterisk symbol is displayed in pl...
6                Verify that Dashboard page is displayed
7                                                    NaN
8                    Verify that a sub-menu is displayed
9             Verify that manage rules section is opened
10                                                   NaN
11     Verify that Compensation Components page is op...
12                    Verify that Merit tile is selected
13     Verify that "Rules applied successfully" messa...
14                                                   NaN
15                     Verify that a sub-menu is opened
16              Verify that Manage Rules page is opened
17     Verify that compensation components page is op...
18               Verify that Adjustment tile is selected
19     Verify that "Rules applied successfully" messa...
20                                                   NaN
21     Verify that Set Performance Rating and Merit R...
22     Verify that Prorate Merit toggle is displayed ...
23                                                   NaN
24     Verify that selected @FromDate is displayed in...
25     Verify that selected @ToDate is displayed in T...
26                                                   NaN
27     Verify that selected @ProrationType is highlig...
28     Verify that "Rules Applied Successfully" chalk...
29                                                   NaN
...                                                  ...
23555                Verify that a sub-menu is displayed
23556   Verify that Recommend Increase page is displayed
23557                                                NaN
23558              Verify that Manager Tree is displayed
23559  Verify that manager name @ManagerName is highl...
23560  Verify that selected @ManagerName should be di...
23561        Verify @ExpectedAdjustmentPct is displayed
23562                                                NaN
23563  If @ExpectedAdjustmentPct is within MinRange a...
23564        else it should be displayed in red color
23565      Verify @ExpectedAdjustmentAmt is displayed
23566                                                NaN
23567  If ExpectedAdjustmentPct is within MinRange an...
23568                Verify @NewSalary in New salary
23569   Verify @NewHourlyRate in New Hourly rate colu...
23570       Verify @NewCompaRatio in New Compa-Ratio
23571                           Verify @TCC in  TCC
23572  Verify that Spent Summary pop up is opened
23573  Verify @AdjustmentSpent in  Adjustment Spent
23574                                                NaN
23575                 Verify that Dashboard is displayed
23576  Verify @DirectAdjustmentCount in Directs Adjus...
23577  Verify @MyOrgAdjustmentCount in My Organizatio...
23578                                                NaN
23579                Verify that a sub-menu should open
23580         Verify that Budget Plan section is opened
23581  Verify @BPAdjustmentSpent in Adjustment Spent ...
23582                                                NaN
23583     Verify that @logoutURL is shown in address bar
23584   Verify that ' You have been logged out succes...

[23585 rows x 4 columns]

In [4]:
excel.loc[excel['Action'].apply(lambda x:('proration to on' in str(x).lower()))]

      Test Case ID  # Steps                     Action Expected value
20             NaN      5.0  Set Merit Proration to ON            NaN
132            NaN      6.0  Set Merit Proration to ON            NaN
326            NaN      8.0  Set Merit Proration to ON            NaN
419            NaN      6.0  Set Merit Proration to ON            NaN
518            NaN      5.0  Set Merit Proration to ON            NaN
623            NaN      6.0  Set Merit Proration to ON            NaN
720            NaN      6.0  Set Merit Proration to ON            NaN
821            NaN      6.0  Set Merit Proration to ON            NaN
931            NaN      6.0  Set Merit Proration to ON            NaN
1033           NaN      6.0  Set Merit Proration to ON            NaN
1136           NaN      6.0  Set Merit Proration to ON            NaN
1244           NaN      6.0  Set Merit Proration to ON            NaN
1350           NaN      6.0  Set Merit Proration to ON            NaN
1439           NaN      5.0  Set Merit Proration to ON            NaN
1542           NaN      6.0  Set Merit Proration to ON            NaN
1652           NaN      6.0  Set Merit Proration to ON            NaN
1762           NaN      6.0  Set Merit Proration to ON            NaN
1864           NaN      6.0  Set Merit Proration to ON            NaN
1966           NaN      6.0  Set Merit Proration to ON            NaN
2074           NaN      6.0  Set Merit Proration to ON            NaN
2180           NaN      6.0  Set Merit Proration to ON            NaN
2275           NaN      5.0  Set Merit Proration to ON            NaN
5666           NaN      6.0  Set Merit Proration to ON            NaN
5778           NaN      6.0  Set Merit Proration to ON            NaN
5888           NaN      6.0  Set Merit Proration to ON            NaN
5990           NaN      6.0  Set Merit Proration to ON            NaN
6092           NaN      6.0  Set Merit Proration to ON            NaN
6200           NaN      6.0  Set Merit Proration to ON            NaN
6307           NaN      6.0  Set Merit Proration to ON            NaN
6402           NaN      5.0  Set Merit Proration to ON            NaN
...            ...      ...                        ...            ...
16944          NaN      8.0  Set Merit Proration to ON            NaN
17050          NaN      8.0  Set Merit Proration to ON            NaN
17156          NaN      8.0  Set Merit Proration to ON            NaN
17263          NaN      8.0  Set Merit Proration to ON            NaN
17371          NaN      8.0  Set Merit Proration to ON            NaN
17477          NaN      8.0  Set Merit Proration to ON            NaN
19082          NaN      8.0  Set Merit Proration to ON            NaN
19182          NaN      8.0  Set Merit Proration to ON            NaN
19281          NaN      8.0  Set Merit Proration to ON            NaN
19378          NaN      8.0  Set Merit Proration to ON            NaN
19476          NaN      8.0  Set Merit Proration to ON            NaN
19577          NaN      8.0  Set Merit Proration to ON            NaN
19677          NaN      8.0  Set Merit Proration to ON            NaN
19776          NaN      8.0  Set Merit Proration to ON            NaN
22035          NaN      8.0  Set Merit Proration to ON            NaN
22135          NaN      8.0  Set Merit Proration to ON            NaN
22234          NaN      8.0  Set Merit Proration to ON            NaN
22332          NaN      8.0  Set Merit Proration to ON            NaN
22430          NaN      8.0  Set Merit Proration to ON            NaN
22524          NaN      6.0  Set Merit Proration to ON            NaN
22628          NaN      8.0  Set Merit Proration to ON            NaN
22727          NaN      8.0  Set Merit Proration to ON            NaN
22825          NaN      8.0  Set Merit Proration to ON            NaN
22925          NaN      8.0  Set Merit Proration to ON            NaN
23024          NaN      8.0  Set Merit Proration to ON            NaN
23121          NaN      8.0  Set Merit Proration to ON            NaN
23218          NaN      8.0  Set Merit Proration to ON            NaN
23319          NaN      8.0  Set Merit Proration to ON            NaN
23419          NaN      8.0  Set Merit Proration to ON            NaN
23517          NaN      8.0  Set Merit Proration to ON            NaN

[78 rows x 4 columns]

In [11]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
excel=pd.read_excel('MTM_Automation Test Cases1.xlsx')
excel1=excel.loc[excel['Action'].apply(lambda x:('proration to on' in str(x).lower()))]
path=r'MTM_Automation Test Cases1.xlsx'
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book
excel1.to_excel(writer, sheet_name = 'Proration')
writer.save()
writer.close()

In [11]:
n=3
array=[0,1]
newArray=[]
value=1
for i in array:
    if i == 0:
        newArray.append(value)
    else:
        value=1
        for j in range(i):
            if (j+1)%2==0:
                value = value+1
            else:
                value = value*2
        newArray.append(value)
print(newArray)

[1, 2]

In [18]:
K=3
a=[-1,-3,4,2]
count=0
for i in a:
    if i <= 0:
        count+=1
if count>=K:
    print("NO")
else:
    print("YES")

No

In [28]:
a=[20,23,6]
day=0
for i in range(int(a[0]),int(a[1])+1):
    string=str(i)
    if ((i-int(string[::-1]))/a[2]).is_integer():
        day += 1
print(day)

2

In [34]:
days=5
shared=5
liked=0
cumulative=0
for i in range(1,days+1):
    liked = int(shared/2)
    shared = liked*3
    cumulative +=liked
print(cumulative)

24

In [47]:
#n,m,s=3,7,3
n,m,s=3,394274638,3
mod=0
rem=0
m=m+(s-1)
mod=m%n
rem=int(m/n)
while rem>n:
    rem = int(rem/n)
if mod==0:
    print(rem)
else:
    print(mod)

3

In [50]:
n,m,s=3,394274638,3
if s + m < n:
    print(s + m - 1)
else:
    if (s+m - 1) % n == 0:
        print(n)
    else:
        print((s+m - 1) % n)

3

In [22]:
a=[3,4,5]
query=[1,2]
result=[]
copyArray=a.copy()
k = 2
for i in range(k):
    for j in range(0,len(a)):
        if(j==len(a)-1):
            copyArray[0]=a[j]
        else:
            copyArray[j+1]=a[j]
    a=copyArray.copy()
for z in query:
    result.append(a[z])
print(result)

[5, 3]

In [26]:
import collections

d = collections.deque([1,2,3,4,5])
d.rotate(3)
print(d)

deque([3, 4, 5, 1, 2])

In [28]:
a=[1,2,3]
print(a[-2:] + a[:-2])

[2, 3, 1]

In [32]:
b,w,bc,wc=3,6,9,1
print((b*bc)+(w*wc))

33

In [9]:
a=[1,2,3]
print(a[-0:])
print(a[:-0])
print(6%3)

[1, 2, 3]
[]
0

In [9]:
b,w,bc,wc,z=3,5,3,4,1
if(b==w) and (bc==wc==z):
    print((b*bc)+(w*wc))
elif z>bc and z>wc:
    print((b*bc)+(w*wc))
elif(b==w) and bc>wc:
    print((b*(wc+z))+(w*wc))
elif (b==w) and bc<wc:
    print((b*(bc))+(w*(bc+z)))
elif bc<(b*w)+1 and b!=bc:
    print(((b+w)*z)+(b*z))
else:
    print((b*bc)+(w*wc))

29